body {
    padding: 0;
    border: 0;   
}

header {
    background-image: url(./images/pattern.jpeg);
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-weight: bold;
    font-family: Helvetica;
   
}

header h1 {
    font-size: 100px;
    color: khaki;
    margin: 0;
}

section {
    margin: 20px;
}

section h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 10px;
}


section.brushes h2 {
    background-color: mediumspringgreen;
}

section.frames h2 {
    background-color: lightcoral;
}

section.paint h2 {
    background-color: skyblue;
}

section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}


section h3 {
    font-size: 24px;
    margin: 10px 0;
}

section p {
    font-size: 16px;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
